@model IEnumerable<monitor_covid19.Models.Statistic>

@{
    ViewData["Title"] = "Index";
}

<h3>Dashboard</h3>

<table class="table table-striped table-bordered">
    <thead style="color:white">
        <tr>
            <th style="background-color:#333" scope="col">
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th style="background-color:darkorange" scope="col">
                @Html.DisplayNameFor(model => model.ConfirmedCases)
            </th>
            <th style="background-color:red" scope="col">
                @Html.DisplayNameFor(model => model.Deaths)
            </th>
            <th style="background-color:dodgerblue" scope="col">
                @Html.DisplayNameFor(model => model.Recovereds)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConfirmedCases)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deaths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recovereds)
                </td>
            </tr>
        }
    </tbody>
</table>
