@model monitor_covid19.Models.Statistic

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Estatística</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfirmedCases)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfirmedCases)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deaths)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deaths)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recovereds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recovereds)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">&larr; Voltar</a> | 
    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
</div>
